<div class="col-6 col-12-medium">
  <section>
    <h3>
      <i class="{{ item.style }} {{ item.icon }}" aria-hidden="true"></i>
      {{ item.header }}
    </h3>
    <p>{{ item.text }}</p>
  </section>
</div>