<div class="col-4 col-12-medium">
  <article class="highlight">
    <a href="{{ item.link }}" class="image featured"><img src="{{ site.path.prefix }}{{ site.path.assets }}/{{ item.img }}" alt="{{ item.alt }}" /></a>
    <h3><a href="{{ item.link }}">{{ item.header }}</a></h3>
    <p>{{ item.text }}</p>
    <ul class="actions">
      <li><a href="{{ item.link }}" class="button style1">{{ item.btnText }}</a></li>
    </ul>
  </article>
</div>