:root {
  --color-light-1: #fff;
  --color-light-2: #ccc;
  --color-medium-1: #bbb;
  --color-medium-2: #888;
  --color-medium-3: #585858;
  --color-dark-1: #383838;
  --color-dark-2: #242424;

  --color-transparency-light-1: rgba(255, 255, 255, 0.75);
  --color-transparency-light-2: rgba(255, 255, 255, 0.5);
  --color-transparency-light-3: rgba(255, 255, 255, 0.25);
  --color-transparency-light-4: rgba(255, 255, 255, 0.1);
  --color-transparency-medium-1: rgba(92, 95, 103, 0.5);
  --color-transparency-dark-1: rgba(0, 0, 0, 0.1);
  
  --color-12: #f98780;
  --color-13: #e97770;
  --color-14: #d96760;

  /* Typography */
  --font-family-serif-base: "Playfair Display", serif;
  --font-family-serif-alt: "Old Standard TT", serif;
  --font-family-sans-base: "Roboto", sans-serif;
  --font-family-sans-alt: "Roboto Condensed", sans-serif;
}