<div class="title">The Rest Of It</div>
<div class="container">
  <header class="style1">
    <h2>Ipsum sapien elementum portitor?</h2>
    <p>
      Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
      Nam pharetra laoreet imperdiet volutpat etiam feugiat.
    </p>
  </header>

  <div class="row">
    <div class="col-6 col-12-medium">
      <!-- Contact Form -->
      <section>
      {% include "partials/panels/contact-form.njk" %}
      </section>
    </div>
    <div class="col-6 col-12-medium">
      <!-- Contact -->
      <section class="feature-list small">
        <div class="row">
        {% for item in contact %}
          <div class="col-6 col-12-small">
            <section>
              <h3 class="icon solid {{ item.icon }}">{{ item.header }}</h3>
              <p>
              {% if item.isText %}
                {{ item.text | safe }}
              {% else %}
                {% for link in item.links %}
                  <a href="{{ link.link }}">{{ link.text }}</a>
                {% endfor %}
              {% endif %}
              </p>
            </section>
          </div>
        {% endfor %}
        </div>
      </section>
    </div>
  </div>
  <div id="copyright">
    <ul>
      <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>
